@layout('layouts/main')
@set('title','Posts')

@section('content')

<div class="container">
  @each(post in posts)
  <div class="row">
    {{--  each loop for all the posts  --}}

  </div>
  @else
  <div class="mt-4 text-center">
    <p class="fs-4">You don't have any post. Create some post by clicking here</p>
    <a type="button" class="btn btn-primary" href="{{ route('post.create') }}">Create</a>
  </div>
  @endeach
</div>
</div>

@endsection
