{{--  footer  --}}
<footer id="footer" style="z-index:0;">
  <div class="bg-light p-3 fixed-bottom">
    <p class="text-center">Developed By <a href="https://github.com/feniljariwala82" target="_blank">Fenil
        Jariwala
      </a>
    </p>
  </div>
</footer>
