@import 'constants';

// button
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-weight: $font-weight-bold;
$btn-border-radius: $border-radius;
$input-btn-border-width: 0.5px;

// list group
$list-group-border-radius: $border-radius;

// navbar toggler
$navbar-toggler-border-radius: 0.5rem;
$navbar-toggler-focus-width: 0.1rem;

$btn-focus-width: $input-btn-focus-width;

$font-family-sans-serif: IBM Plex Sans, sans-serif,
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  'Segoe UI',
  // Android
  Roboto,
  // Basic web fallback
  'Helvetica Neue',
  Arial,
  // Linux
  'Noto Sans',
  'Liberation Sans',
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

@import '~bootstrap/scss/bootstrap.scss';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/v4-shims.scss';

// custom css classes goes here
/* (A) FULL SCREEN WRAPPER */
#spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s;
}

/* (B) CENTER LOADING SPINNER */
#spinner {
  #spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  // by default hiding spinner
  visibility: hidden;
  opacity: 0;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}
