@layout('layouts/main')
@set('title','Profile')

@section('content')

<div class="container">

  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ route('home') }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
  </nav>

  <div class="row mt-4">
    <p>Welcome</p>
  </div>
</div>
@endsection
