<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  @entryPointStyles('app')
  @entryPointScripts('app')

  {{--  jquery  --}}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>

  {{--  navbar  --}}
  @include('partials/navbar')

  {{--  main content  --}}
  <main>
    @!section('content')
  </main>

  {{--  toasts  --}}
  @include('partials/toasts')

  {{--  static toasts  --}}
  @include('partials/staticToasts')

  {{--  spinner  --}}
  @include('partials/spinner')

  {{--  footer  --}}
  {{--  @include('partials/footer')  --}}

  {{--  scripts  --}}
  @!section('scripts')

  <script type="module">
    $(document).ready(function () {
      $('#back').on('click', function () {
        window.history.back()
      })
    })
  </script>

</body>

</html>
